# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# Logs
*.log

# Data files
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.parquet
➕ !data/water_potability.csv

# System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# OS / system files
AppData/
Thumbs.db
.DS_Store
